<%- include partials/header %>


<!-- Titlebar
================================================== -->
<div id="titlebar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>Listings</h2>
				<span>Flatmate Wanted</span>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs">
					<ul>
						<li><a href="/">Home</a></li>
						<li>Listings</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>


<!-- Content
================================================== -->
<div class="container">
	<div class="row sticky-wrapper">

		<div class="col-md-8">

			<!-- Main Search Input -->
			<div class="main-search-input margin-bottom-35">
				<input type="text" class="ico-01" placeholder="Enter address e.g. street, city and state or zip" value=""/>
				<button class="button">Search</button>
			</div>

			<!-- Sorting / Layout Switcher -->
			<div class="row margin-bottom-15">

				<div class="col-md-6">
					<!-- Sort by -->
					<div class="sort-by">
						<label>Sort by:</label>

						<div class="sort-by-select">
							<select data-placeholder="Default order" class="chosen-select-no-single" >
								<option>Default Order</option>
								<option>Price Low to High</option>
								<option>Price High to Low</option>
								<option>Newest Properties</option>
								<option>Oldest Properties</option>
							</select>
						</div>
					</div>
				</div>

			</div>


			<!-- Listings Container -->
			<div class="row">

				<!-- Listing Item -->
				<%

					propertyArray.forEach(function(item)
			{%>


				<div class="col-md-6">
					<div class="listing-item compact">

						<a href="details" class="listing-img-container">

							<div class="listing-badges">
								<span class="featured">Featured</span>
								<span>For Rent</span>
							</div>

							<div class="listing-img-content">
								<span class="listing-compact-title"><%=item.propertyTitle %> <i>$<%=item.price+"/Weekly"%></i></span>

								<ul class="listing-hidden-content">
									<li>Room available:<span><%=item.roomsAvailable%></span></li>
									<li>Rooms  <span><%=item.rooms%></span></li>
									<li>Beds <span><%=item.bedRooms%></span></li>
									<li>Baths <span><%=item.bathRooms%></span></li>
								</ul>
							</div>

							<img src="images/<%=item.img%>" alt="">
						</a>

					</div>
				</div>
							<% });%>


				<!-- Listing Item / End -->

			</div>
			<!-- Listings Container / End -->


			<!-- Pagination -->
			<div class="clearfix"></div>

			<div class="pagination-container margin-top-20">
			<%if(pagination.pagination.pages>1)
			{%>
				<nav class="pagination">
					<ul>

				<% } %></a></li>
				<%for (var i=1;i<=pagination.pagination.pages;i++)
				{			if(currentPage==i)
							{%>

        					<li><a href="" class="current-page"><%=i%></a></li>
				 <%}
				 else
				 {%>
				 		<li><a href="/listing?page=<%=i %>"><%= i %></a></li>
				 <%}%>
				 <%}%>



					</ul>
				</nav>

				<nav class="pagination-next-prev">
					<ul>
					<% if(currentPage!=1)
						{%>
						<li><a href="/listing?page=<%=currentPage-1%>" class="prev">Previous</a></li>
						<%}%>
					<% if(currentPage < pagination.pagination.pages)
					{%>

						<li><a href="/listing?page=<%= currentPage+1 %>" class="next">Next</a></li>
					<%}%>
					</ul>
				</nav>
			</div>
			<!-- Pagination / End -->

		</div>


		<!-- Sidebar
		================================================== -->
		<div class="col-md-4">
			<div class="sidebar sticky right">

				<!-- Widget -->
				<div class="widget margin-bottom-40">
					<h3 class="margin-top-0 margin-bottom-35">Find New Home</h3>

					<!-- Row -->
					<div class="row with-forms">
						<!-- Status -->
						<div class="col-md-12">
							<select data-placeholder="Any Status" class="chosen-select-no-single" >

							</select>
						</div>
					</div>
					<!-- Row / End -->


					<!-- Row -->
					<div class="row with-forms">
						<!-- Type -->
						<form method="POST" action="/search">
						<div class="col-md-12">
							<select id="selectCity" name="idCity" class="city" data-placeholder="Any Type" class="chosen-select-no-single" >
									<% city.dataCities.forEach(function(item)
							{
							%>
							<option value=<%=item.idCity%> >
								<%=item.name%>
							</option>
							<%});%>

							</select>
						</div>
					</div>
					<!-- Row / End -->


					<!-- Row -->
					<div class="row with-forms">
						<!-- States -->
						<div class="col-md-12">
							<select id="selectDistrict" name="idDistrict" class="district" data-placeholder="Any Status"  >
							<option value=0>Any Districts</option>
							</select>
						</div>
					</div>
					<!-- Row / End -->


					<!-- Row -->
					<div class="row with-forms">
						<!-- Cities -->
						<div class="col-md-12">

							<select id="selectSuburb" name="idSuburb" class='suburb'>
							<option label="Any Suburbs"></option>


							</select>
						</div>
					</div>
					<!-- Row / End -->


					<!-- Row -->
					<div class="row with-forms">

						<!-- Min Area -->

						<div class="col-md-6">
						Rent per week
							<select data-placeholder="From" class="chosen-select-no-single" name="priceFrom" >
								<option label="blank"></option>
								<option value='0' selected="selected">Any</option>
								<option value="50">$50</option>
								<option value="100">$100</option>
								<option value="150">$150</option>
								<option value="200">$200</option>
								<option value="250">$250</option>
								<option value="300">$300</option>
								<option value="350">$350</option>
								<option value="400">$400</option>
								<option value="450">$450</option>
								<option value="500">$500</option>
								<option value="600">$600</option>
								<option value="800">$800</option>
								<option value="1000">$1000</option>


							</select>
						</div>

						<!-- Max Area -->
						<div class="col-md-6">
						To
							<select data-placeholder="To" class="chosen-select-no-single" name="priceTo" >
									<option label="blank"></option>
								<option value='0' selected="selected">Any</option>
								<option value="50">$50</option>
								<option value="100">$100</option>
								<option value="150">$150</option>
								<option value="200">$200</option>
								<option value="250">$250</option>
								<option value="300">$300</option>
								<option value="350">$350</option>
								<option value="400">$400</option>
								<option value="450">$450</option>
								<option value="500">$500</option>
								<option value="600">$600</option>
								<option value="800">$800</option>
								<option value="1000">$1000+</option>
							</select>
						</div>

					</div>
					<!-- Row / End -->

					<br>

					<!-- Area Range -->


					<!-- More Search Options -->
					<a href="#" class="more-search-options-trigger margin-bottom-10 margin-top-30" data-open-title="Additional Features" data-close-title="Additional Features"></a>
					<div class="more-search-options relative">

						<!-- Checkboxes -->
						<div class="checkboxes one-in-row margin-bottom-10">

							<input  id="check-2" type="checkbox" value="Tidy" name="checkTidy">
							<label for="check-2">Tidy</label>

							<input id="check-3" type="checkbox" name="checkSwim">
							<label for="check-3">Swimming Pool</label>


							<input id="check-5" type="checkbox" name="checkLaundry">
							<label for="check-5">Laundry Room</label>


							<input id="check-6" type="checkbox" name="checkGym">
							<label for="check-6">Gym</label>

							<input id="check-7" type="checkbox" name="checkParty">
							<label for="check-7">Party</label>

							<input id="check-8" type="checkbox" name="checkWindow">
							<label for="check-8">Window Covering</label>

						</div>
						<!-- Checkboxes / End -->

					</div>
			<input type='submit' class="button fullwidth margin-top-30"></button>

					<!-- More Search Options / End -->
					</hr>
					</form>

				</div>
				<!-- Widget / End -->

			</div>
		</div>
		<!-- Sidebar / End -->
	</div>
</div>


<!-- Footer
================================================== -->
<%- include partials/footer %>
